<div class="container">
    <div class="icon-wrapper-2">
        <span class="icon"><i class="fa fa-thumbs-up"></i></span>
        <div class="border"><span></span></div>
        <div class="spark">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
        </div>
    </div>
</div>
